<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bibliosearch</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body class='container'>
    <form class="image-form form-group" action="" method="post">
        <div>
            {{ form.target_word.label }}
            {{ form.target_word(class_="form-control mb-4") }}
        </div>
        <div>
            {{ form.rotate_image.label }}
            {{ form.rotate_image(class_="form-control mb-4") }}
        </div>
        <div class="submit-button">
            {{ form.submit(class_="btn btn-primary mb-4") }}
        </div>
    </form>
</body>
</html>